In [33]:
import requests
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

response = requests.get(endpoint)

In [37]:
params = {
    'year' : '2016',
    'query_text' :'fire'
}

In [38]:
response = requests.get(endpoint, params = params)

In [39]:
response

In [40]:
res = response.json()
res

[{'month_name': 'January',
  'year': '2016',
  'query_count': '19',
  'query_text': 'fire'},
 {'month_name': 'February',
  'year': '2016',
  'query_count': '35',
  'query_text': 'fire'},
 {'month_name': 'March',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'April',
  'year': '2016',
  'query_count': '26',
  'query_text': 'fire'},
 {'month_name': 'May',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'June',
  'year': '2016',
  'query_count': '31',
  'query_text': 'fire'},
 {'month_name': 'July',
  'year': '2016',
  'query_count': '24',
  'query_text': 'fire'},
 {'month_name': 'August',
  'year': '2016',
  'query_count': '47',
  'query_text': 'fire'},
 {'month_name': 'September',
  'year': '2016',
  'query_count': '36',
  'query_text': 'fire'},
 {'month_name': 'October',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'},
 {'month_name': 'November',
  'year': '2016',
  'query_count': '32',
  'query_text': 'fire'},
 {'month_name': 'December',
  'year': '2016',
  'query_count': '38',
  'query_text': 'fire'}]

In [41]:
soc_dict = response.json()
socrata = pd.DataFrame.from_dict(soc_dict)

In [42]:
socrata

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

#### It was searched the most in August

In [71]:
params2 = {
    'min query_count':'100'
}

In [72]:
response2 = requests.get(endpoint, params = params2)

In [73]:
response2

In [74]:
soc_dict2 = response2.json()
socrata2 = pd.DataFrame.from_dict(soc_dict2)

ValueError: If using all scalar values, you must pass an index

In [70]:
socrata2

   month_name  year query_count           query_text month
0     October  2014         100                 maps   NaN
1       April  2015         100           employment   NaN
2       April  2015         100            Nashville   NaN
3     October  2016         100        property maps   NaN
4        June  2017         100      building permit   NaN
5        June  2017         100             assessor   NaN
6        July  2017         100        police report   NaN
7      August  2017         100         property tax   NaN
8      August  2017         100       property taxes   NaN
9      August  2017         100      building permit   NaN
10   November  2017         100  civil service rules   NaN
11   December  2017         100             holidays   NaN
12      April  2018         100      building permit   NaN
13      April  2018         100                  ess   NaN
14       July  2018         100                 dcso   NaN
15    October  2018         100               voting   NaN
16    October  2019         100         property tax    10
17    January  2020         100                  gis     1
18      March  2020         100             property     3
19   February  2020         100            isupplier     2
20   February  2020         100                 maps     2
21      April  2020         100        CIVIL SERVICE     4
22       July  2020         100        Property maps     7
23   November  2020         100       Property taxes    11
24       June  2021         100       property taxes     6